<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Image_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Image_Downloader.Properties.Settings>
            <setting name="ColumnDetectionManual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AuthUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPassword" serializeAs="String">
                <value />
            </setting>
        </Image_Downloader.Properties.Settings>
    </userSettings>
</configuration>